<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-wayfinding" version="0.0.1">
   <name>cordova-plugin-wayfinding</name>
      <js-module name="situmwayfinding-plugin" src="www/cordova-plugin-wayfinding.js">
         <clobbers target="plugin.situm.wayfinding.situmWayfindingPlugin"/>
      </js-module>
   <dependency id="cordova-plugin-googlemaps" version="2.6.2"/>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="SitumWayfindingPlugin">
            <param name="ios-package" value="SitumWayfindingPlugin"/>
         </feature>
         <feature name="cordova-plugin-wayfinding">
            <param name="ios-package" value="cordova-plugin-wayfinding" />
         </feature>
      </config-file>
      <source-file src="src/ios/SitumWayfindingPlugin.m" />
      <source-file src="src/ios/SitumWayfindingPlugin.h" />
      <podspec>
      	<config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
      	</config>
      	<pods use-frameworks="true">
            <pod name="SitumWayfinding" spec="~> 0.1.8" />
      	</pods>
      </podspec>
      <hook type="after_plugin_install" src="scripts/cordova-hook-build-settings-ios.js"/>
      <hook type="after_platform_add" src="scripts/cordova-hook-build-settings-ios.js"/>
   </platform>
   <platform name="android">
     <config-file parent="/*" target="res/xml/config.xml">
       <feature name="SitumWayfindingPlugin">
         <param name="android-package" value="es.situm.wayfinding.SitumWayfindingPlugin" />
       </feature>
     </config-file>
     <config-file parent="/*" target="AndroidManifest.xml">
     </config-file>
     <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
       <activity android:theme="@style/situm_cordova_AppTheme" />
     </edit-config>
     <!-- Java Sources: -->
     <source-file src="src/android/SitumWayfindingPlugin.java" target-dir="src/es/situm/wayfinding" />
     <source-file src="src/android/ModuleCreator.java" target-dir="src/es/situm/wayfinding" />
     <!-- Resources -->
     <source-file src="src/android/res-layout/mock_fragment_layout.xml" target-dir="res/layout" />
     <source-file src="src/android/res-layout/sitummap_creator_layout.xml" target-dir="res/layout" />
     <source-file src="src/android/res-values/styles.xml" target-dir="res/values" />
     <!-- Hooks -->
     <hook type="before_plugin_install" src="scripts/androidBeforePluginInstall.js" />
   </platform>
</plugin>
