<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="situm-cordova-plugin-wayfinding" version="0.0.2">
   <name>situm-cordova-plugin-wayfinding</name>
      <js-module name="situmwayfinding-plugin" src="www/situm-cordova-plugin-wayfinding.js">
         <clobbers target="plugin.situm.wayfinding.situmWayfindingPlugin"/>
      </js-module>
   <dependency id="cordova-plugin-googlemaps" version="2.6.2"/>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="SitumWayfindingPlugin">
            <param name="ios-package" value="SitumWayfindingPlugin"/>
         </feature>
      </config-file>
      <source-file src="src/ios/SitumWayfindingPlugin.m" />
      <source-file src="src/ios/SitumWayfindingPlugin.h" />
      <podspec>
      	<config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
      	</config>
      	<pods use-frameworks="true">
            <pod name="SitumWayfinding" spec="~> 0.1.8" />
      	</pods>
      </podspec>
      <hook type="after_plugin_install" src="src/ios/cordova-hook-build-settings-ios.js"/>
      <hook type="after_platform_add" src="src/ios/cordova-hook-build-settings-ios.js"/>
   </platform>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="cordova-plugin-wayfinding">
            <param name="android-package" value="cordova-plugin-wayfinding.cordova-plugin-wayfinding" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/cordova-plugin-wayfinding.java" target-dir="src/cordova-plugin-wayfinding/cordova-plugin-wayfinding" />
   </platform>
</plugin>
